@model NackaPizzaOnline.Models.HomeViewModels.MenyViewModel
@{
    ViewData["Title"] = "Nacka Pizzeria Online";
}
@{
    var ingredients = "";
}

<h2>Meny</h2>

<div class="col-md-8">
    <table class="table">
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    <div>
                        <p class="dishName">@item.Name</p>
                        <br />
                        @for (var i = 0; i < item.DishIngredients.Count; ++i)
                        {
                            if (i != item.DishIngredients.Count - 1)
                            {
                                ingredients += item.DishIngredients[i].Ingredient.Name + ", ";
                            }
                            else
                            {
                                if (item.DishIngredients.Count == 1)
                                {
                                    ingredients += item.DishIngredients[i].Ingredient.Name;
                                }
                                else
                                {
                                    ingredients += " och " + item.DishIngredients[i].Ingredient.Name + ".";
                                }
                            }
                        }
                        <p class="ingredientName">@ingredients</p>
                        @{
                            ingredients = "";
                        }
                        <strong class="row">@item.Price kr</strong>

                        <button id="ingredientsbtn" class="btn btn-default" onclick="GetDishInfo('@item.DishId')" data-toggle="modal" data-target="#ingredientmodal">
                            <span class="glyphicon glyphicon glyphicon-th"></span>
                        </button>
                        <button id="buybtn" class="btn btn-default" onclick="BuyDishNoCustomizing('@item.DishId')">
                            <span class="glyphicon glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </div>
                </td>
            </tr>
                            }
    </table>
</div>

<div class="col-md-4">
    <div id="cartview"></div>
</div>

<div id="ingredientmodal" class="modal fade" role="dialog"></div>

@section Scripts{
    <script type="text/javascript" src="~/js/HomeIndex.js"></script>
}