@model IEnumerable<NackaPizzaOnline.Models.DishIngredient>

@{
    ViewData["Title"] = "Maträttsingedienser";
}

<h2>Maträttsingedienser</h2>

<p>
    <a asp-action="Create">Lägga till</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    //Todo måste fixa så att det blir en lista med ingredienser för varje maträtt och inte som nu
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.DishId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.IngredientId)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detaljer", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Ta bort", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
