@using NackaPizzaOnline.Services
@model NackaPizzaOnline.Models.Order
@inject DishIngredientService dishService
@inject CartService cartService
@*TODO Fixa så att man kan se alla maträtter och at man kan betala så att man får ett mail när man betalat.*@

<h3>Din order</h3>
<form asp-controller="Order" asp-action="SendOffToBake" asp-route-order="@Model">
    <table>
        @foreach (var cartItem in Model.CartItems)
        {
            <tr>
                <td>
                    <div>
                        <p>@dishService.GetNameOfDish(cartItem.DishId)</p>
                        <p>á la pris @cartItem.Sum kr</p>
                        <p>@dishService.WriteOutIngredients(cartItem.CartId, cartItem.CartItemId)</p>
                    </div>
                </td>
            </tr>
        }        
    </table>
    <div class="row">
        <strong>Summa: @Model.TotalAmount kr</strong>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Bekräfta beställning"/>
    </div>
</form>