@using NackaPizzaOnline.Services
@using NackaPizzaOnline.Models
@model NackaPizzaOnline.Models.Order
@inject DishIngredientService dishService
@inject CalculateService calcService
@section Style{ 
<link href="~/css/CheckOutStyle.css" rel="stylesheet" />
}
<h3 class="checkout-text">Din order</h3>

<form asp-controller="Order" asp-action="Checkout" method="post">
    <input asp-for="@Model.OrderId" hidden />
    <input asp-for="@Model.UserId" hidden />
    <input asp-for="@Model.Anonymous" hidden />
    <div class="row">
        <div class="col-md-6">
            <table>
                @foreach (var cartItem in Model.CartItems)
                {
                    <tr>
                        <td>
                            <div>
                                <strong>@dishService.GetNameOfDish(cartItem.DishId)</strong>
                                <p>á la pris @calcService.TotalForCartItem(cartItem) kr</p>
                                <p>@dishService.WriteOutIngredients(cartItem.CartId, cartItem.CartItemId)</p>
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <label asp-for="@Model.TotalAmount"></label>
            <input asp-for="@Model.TotalAmount" hidden />
            @Html.DisplayFor(model => model.TotalAmount)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.PayMethod"></label>
                <select asp-for="PayMethod" asp-items="Html.GetEnumSelectList<PayMethods>()" class="form-control"></select>
            </div>
        </div>
    </div>
    @if (Model.Anonymous)
    {
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AnonymousAddress" class="control-label"></label>
                    <input asp-for="AnonymousAddress" class="form-control" />
                    <span asp-validation-for="AnonymousAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnonymousZipCode" class="control-label"></label>
                    <input asp-for="AnonymousZipCode" class="form-control" />
                    <span asp-validation-for="AnonymousZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnonymousCity" class="control-label"></label>
                    <input asp-for="AnonymousCity" class="form-control" />
                    <span asp-validation-for="AnonymousCity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Inte Medlem?</label><br />
            <button class="btn btn-primary" asp-controller="Account" asp-action="Register">Registera dig</button>
        </div>
    }
    else
    {   
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="AnonymousAddress"></label><br />
                    <input asp-for="AnonymousAddress" value="@ViewBag.UserAddress" />
                </div>
                <div class="form-group">
                    <label asp-for="AnonymousZipCode"></label><br />
                    <input asp-for="AnonymousZipCode" value="@ViewBag.UserZipCode" />
                </div>
                <div class="form-group">
                    <label asp-for="AnonymousCity"></label><br />
                    <input asp-for="AnonymousCity" value="@ViewBag.UserCity" />
                </div>
            </div>
        </div>
    }
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Bekräfta beställning" />
    </div>
</form>

@section Scripts{     
<script type="text/javascript" src="~/js/Order.js"></script>
}