@model NackaPizzaOnline.Models.Dish

@{
    ViewData["Title"] = "Ta bort";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort?</h3>
<div>
    <h4>Maträtt</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DishId" />
        <input type="submit" value="Ta bort" class="btn btn-default" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
